/*
	Generic styling for things like buttons, input elements and
	stuff like that.
*/

*{
	border: none;
	margin: 0px;
	padding: 0px;
}

h1{
	display: inline-block;
}

h2{
	font-size: 20px;
	font-weight: 200;
	margin: 4px;
}

p{
	margin-bottom: 15px;
}

textarea,
div [contenteditable="true"]{
	font-size: 14px;
	border: 1px #DDDDDD solid;
	outline: none;
	background-color: #FFFFFF;
	white-space: pre;
	overflow-y: auto;
	font-family: "Courier New", monospace;
	box-sizing: border-box;
	resize: none; 
}

textarea:hover, textarea:active, textarea:focus,
div [contenteditable="true"]:hover, div [contenteditable="true"]:active, div [contenteditable="true"]:focus{
	border-color: #AAAAAA;
}

button,
.fileLabel,
select{	
	background: none;
	background-image: linear-gradient(to bottom, #888888, #666666);
	border: 1px #222222 outset;
	color: #FFFFFF;
	cursor: pointer;
	padding: 3px;
}

select{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url(../_img/arrowDown.svg), linear-gradient(to bottom, #888888, #666666);
	background-repeat: no-repeat, repeat;
	background-position: calc(100% - 10px) center, 0 0;
	background-size: 10px, cover;
	padding-left: 7px;
}

select:hover{
	background-image: url(../_img/arrowDown.svg), linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(180, 180, 180, 0.5));
}

select:active{
	background-image: url(../_img/arrowDown.svg), linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(180, 180, 180, 0.8));
}

select.inlineSelect{
	display: inline-block;
	width: 50%;
	height: auto;
	margin-bottom: 5px;
}

label.inlineLabel
,.setting label.inlineLabel{
	width: 30%;
	margin-left: 10px;
}

button:hover,
.fileLabel:hover{
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(180, 180, 180, 0.5));
	border: 1px rgba(0, 0, 0, 0.6) outset;
}

button:active,
.fileLabel:active{
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(180, 180, 180, 0.8));
	border: 1px rgba(0, 0, 0, 0.8) outset;
	outline: none;
}

button:focus,
select:focus,
.fileLabel:focus{
	outline: none;
}

option,
optgroup{
	background-color: #555555;
	font-size: 16px;
	border-color: #BBBBBB
}

input[type="text"],
input[type="number"]{
	border: 1px #DDDDDD solid;
	outline: none;
	height: 15px;
	padding: 2px;
	font-family: "Courier New", monospace;
}

input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus,
input[type="number"]:hover, input[type="number"]:active, input[type="number"]:focus{
	border-color: #AAAAAA;
}

input[type="file"]{
	visibility: hidden;
}

hr{
	border-top: 1px #888888 solid;
	margin-bottom: 5px;
}

select{
	height: 30px;
    width: 200px;
}

.setting label.fancyRadio{
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	border: 1px #222222 solid;
	cursor: pointer;
	box-sizing: border-box;
	margin: 0px;
	margin-bottom: -1px;
	padding: 10px;
}

label.fancyRadio:hover{
	background-color: #666666;
}

input[type="radio"].fancyRadio{
	display: none;
}

input[type="radio"]:checked + label.fancyRadio{
	background-image: none;
	background-color: #606060;
}

div.fancyRadio{
	margin: 5px 0px;
}








