
@import url(openSansFont/OpenSans.css);
@import url(generic.css);
@import url(tabs.css);
@import url(overlay.css);

body{
	background-color: #222222;
	color: #FFFFFF;
	font-family: "Open Sans", sans-serif;
}

html, body{
	height: 100%;
	width: 100%;
}

h1{
	font-weight: 200;
	font-size: 25px;
	text-shadow: 1px 1px #000000;
	
}

a{
	color: #FFAA55;
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	text-decoration: underline;
}

#menu{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 300px;
	background-color: #555555;
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

#menu > div:first-child{
	flex-basis: auto;
}

#menu > .tabsContainer{
	flex-grow: 1;
}

#openImage{
	font-size: 17px;
	font-weight: 200;
	padding: 7px;
}

#thumbnailImage{
	border: 5px #888888 solid;
}

#imageContainer{
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 330px;
	text-align: center;
	overflow: visible;
}

#image{
	max-width: 100%;
	max-height: 100%;
}

#canvasContainer{
	display: inline-block;
	position: absolute;
	/*width: 100%;*/
}

#canvasHiderContainer{
	overflow: visible;
}

#canvasHider{
	width: 100%;
	overflow: hidden;
}

#canvasSlider{
	/*background-color: rgba(255, 255, 255, 0.2);*/
	width: 70px;
	position: absolute;
	right: -35px;
	top: 0px;
	height: 100%;
	cursor: col-resize;
	z-index: 0;
}

.dragger{
	border: 1px #000000 solid;
	background-color: #555555;
	background-image: linear-gradient(to bottom, #666666, #444444);
	height: 15px;
	width: 70px;
	position: absolute;
	border-radius: 4px;
    font-size: 13px;
    line-height: 1em;
}

#canvasSlider:hover .dragger,
#canvasSlider.sliding .dragger{
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(180, 180, 180, 0.3));
}

#upperDragger{
	top: -20px;
}

#lowerDragger{
	bottom: -15px;
}

#buffer{
	display: none;
}

#c-simulateMode,
#c-toolSelect{
	flex-shrink: 0;
	align-self: center;
	margin-top: 15px;
	margin-bottom: 5px;
}

.settingsBox{
	flex: 1;
	height: 100%;
	display: none;
	flex-direction: column;
	text-align: left;
}

.setting{
	text-align: left;
	background-color: #555555;
    margin: 10px auto;
    padding: 5px 10px;
    width: 200px;
}

.setting hr{
	margin-top: 3px;
	margin-bottom: 7px;
}

.settingsSpacer{
	flex: 1;
}

.settingsInfo{
    padding: 5px 10px;
}

#protanSettings,
#highlightSettings{
	display: flex;
}

.setting label{
	width: 100%;
	display: inline-block;
	padding: 0px 5px;
    margin: 0px -5px -1px -5px;

    transition: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
}

.setting input{
	width: 100%;
	margin-top: 3px;
}











